.subscribe__name-wrapper{
  margin: 30px 0 0 20px;

  .subscribe__name{
    font-family: Georgia;
    margin-bottom: 10px;
  }

  .subscribe__text{
    line-height: 26px;
  }
}

.subscribe__winnerImg{
  width: 44px;
  height: 70px;
}
