.navigation{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.navigation__logo-container{
  display: flex;
  align-items: flex-end;
}

.navigation__logo{
  width: 1rem;
  margin-right: 0.8rem;
  border-bottom: 1px solid transparent;
}

.navigation__logo-name{
  padding-bottom: .3rem;
  font-size: 14px;
  color: #000000;
}

.navigation__list{
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
}

.navigation__link,
.navigation__link:visited{
  font-size: 14px;
  color:#6A707B;
  margin: 0 0 0.3rem 1.8rem;
  border-bottom: 1px solid transparent;
  &:hover{
    border-bottom: 1px solid;
    color: #4066A5;
  }
  &:active {
    border-bottom: 1px solid;
    color: #233759;
  }
  &:first-letter{
    text-transform: capitalize;
  }
}

